@import "global.scss";

.features {
	background: #fff;
}
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-around;
	align-items: center;
}
.card {
	width: auto;
	text-align: center;
	padding: 20px 10px;
	img {
		width: 70px;
	}
	p {
		font-size: 1rem;
		width: 150px;
		margin: 10px auto;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
