@import "global.scss";

footer {
	width: 100%;
	overflow: hidden;
	.container-footer {
		background: $bg-light;
		color: white;
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		padding: 15px 0;
		height: 90px;

		// height: auto;
	}
	p {
		color: #949494;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	footer {
		.container-footer {
			justify-content: space-around;
			// padding: 90px 0;
			height: 150px;
			flex-direction: column;
		}
	}
}
