@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

$bg-main: #1a1e21;
$bg-light: #2b3136;
$accent-color: #3535ff;

body {
	font-family: "Poppins", sans-serif;
	background-color: $bg-main;
}
.container {
	width: 70vw;
	margin: auto;
}
a {
	text-decoration: none;
	color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.container {
		width: 90vw;
	}
}
