.header {
	height: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
		url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	padding: 7rem 0;
}

.header h1 {
	margin-bottom: 10px;
}
.header h2 {
	margin-bottom: 50px;
}
