.kontakt {
	background: white;
	text-align: start;
	border-radius: 10px;
	width: min-content;
	margin: 50px auto;
	margin-bottom: 275px;
	padding: 50px;
	button {
		font-size: 16px;
		padding: 10px 20px;
		background-color: #3535ff;
		border: none;
		box-sizing: border-box;
		border-radius: 5px;
		color: white;
		margin-left: 20px;
	}

	h2 {
		margin-bottom: 20px;
		font-size: 2rem;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
.mail {
	display: flex;
	margin-bottom: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.kontakt {
		padding: 10px;
		// text-align: center;
		width: 90%;
		margin: 50px auto 188px auto;
		h2 {
			font-size: 1.5rem;
			width: 80%;
		}
		button {
			margin-left: -50px;
		}
		.container {
			margin-left: -10px;
		}
	}

	.mail {
		flex-direction: column;
		width: 90%;
		margin-left: 50px;
		align-items: center;
		justify-content: start;
		p {
			margin-bottom: 10px;
		}
	}
}
