@import "global.scss";
.omeni {
	color: white;

	h2 {
		margin-bottom: 20px;
		font-size: 2rem;
	}
	.container {
		margin-top: 50px;
		margin-bottom: 170px;
	}
}
.normal-txt {
	p {
		width: 60%;
		line-height: 1.5rem;
		font-weight: 400;
		font-size: 1.2rem;
	}
	h3 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.dobrodoslica {
	margin-bottom: 40px;
	font-size: 1.3rem;
	font-weight: 400;
}
.vestine {
	list-style-type: disc;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 35px;
	row-gap: 5px;
	padding-left: 35px;
	li {
		&:hover::after {
			width: 0%;
		}
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.normal-txt {
		margin-bottom: 50px;
		p {
			width: 100%;
		}
	}
}
