@import "global.scss";
.omeni {
	margin-top: 50px;
	color: white;
	h2 {
		margin-bottom: 20px;
		font-size: 2rem;
	}
}
.normal-txt {
	margin-bottom: 30px;
	p {
		width: 60%;
		line-height: 1.5rem;
		font-weight: 400;
		font-size: 1.2rem;
	}
	h3 {
		margin-bottom: 10px;
	}
}

.dobrodoslica {
	margin-bottom: 40px;
	font-size: 1.3rem;
	font-weight: 400;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.normal-txt {
		margin-bottom: 50px;
		p {
			width: 100%;
		}
	}
}
