@import "global.scss";
.projects {
	margin: 100px 0;
	color: #fff;
	display: flex;
	h2 {
		font-size: 2.3rem;
	}
}
.all-projects {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}
.project {
	width: 300px;
	background: $bg-light;
	border-radius: 10px;
	img {
		border-radius: 10px 10px 0 0;
		max-width: 100%;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
	}
}
.project-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 15px;
	// color: black;
}
.tags {
	width: 65%;
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}
.tag {
	font-size: 0.8rem;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
	border: 3px solid black;
	transition: background-color 0.2s ease;
}
.html:hover {
	background-color: #e44d26;
	color: white;
	border-color: white;
}
.css:hover {
	background-color: #379ad6;
	border-color: white;
	color: white;
}
.bootstrap:hover {
	background-color: #890afc;
	border-color: white;
	color: white;
}
